<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n
		</Property>
		<Property name="APP_LOG_ROOT">/home/developer/workspace/java-ws/javaplay/logs
		</Property>
	</Properties>

	<Appenders>
		<Console name="LogToConsole" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<File name="LogToFile" fileName="${APP_LOG_ROOT}/application.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>

		<RollingFile name="RotateFile"
			fileName="${APP_LOG_ROOT}/application.backup.log"
			filePattern="${APP_LOG_ROOT}/application-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="19500KB" />
			</Policies>
			<DefaultRolloverStrategy max="1" />
		</RollingFile>

	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="RotateFile" />
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Root>

		<!-- control package level logging, override the root logging configuration -->
		<Logger name="com.rahulhegde.springbootapp" additivity="false"
			level="debug">
			<!-- appender defines where the logging needs to be sent - console, file -->
			<AppenderRef ref="LogToConsole" />
		</Logger>

		<Logger name="org.hibernate" additivity="false" level="debug">
			<!-- appender defines where the logging needs to be sent - console -->
			<AppenderRef ref="LogToConsole" />
		</Logger>
	</Loggers>
</Configuration>
